<h1>HOLA</h1>
<div class="container-products">
    {{#if products.length}}
    {{#each products}}
    <div class="card">
        <h3 class="card-title">{{title}}</h3>
        <img class="card-img" src="{{img}}" />



        <div class="card-info">
            <span class="card-price"> ${{price}} ARG</span>
            <span class="card-stock">Stock: {{stock}}</span>
        </div>
        <div class="container-btn">
            <button class="btn-delete" data-id="{{_id}}">Eliminar</button>

            {{!-- // <button id="delete-{{id}}" class="btn btn-delete">Borrar</button> --}}
            <button class="btn btn-update">Actualizar</button>
        </div>
    </div>


    {{/each}}
    {{else}}
    <p>No hay productos disponibles</p>
    {{/if}}
</div>

<script src="/static/js/edit-product.js"></script>
{{!-- "id": "222",
"title": " Toallon",
"description": "Toallon con babita",
"code": "222",
"price": "20000",
"status": "true",
"stock": "10", --}}